<header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-new.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">{{nombre}}</a></h1>
        <div class="social-links mt-3 text-center">
          <a target="_blank" href="https://www.facebook.com/ivanobichii.menabarrios/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a target="_blank" href="https://www.occ.com.mx/curriculo" class="occmundial"><i class="icofont-bullseye"></i></a>
          <a target="_blank" href="https://my.indeed.com/p/jonathanivnm-1r87wsk" class="indeed"><i class="icofont-web"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/iv%C3%A1n-mena-barrios-279409207/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="/portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="/services"><i class="bx bx-server"></i> Services</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header>